h1{
    color: white ;
    text-align: center;
    font-family: 'Pacifico', cursive;
   
}
#body{
    background-color: rgb(14, 13, 13);
}
#img1{
    border-radius: 20%;
}
#img2{
    width: 500px;
    border-radius: 10px;
}
